/* src/pages/LandingPage.css */

/* Container for the whole landing page */
.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 2rem;
}

/* Brand Header */
.brand-header {
    margin-bottom: 2rem;
}

.branding-text {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5rem;
    color: #915eff;
    text-align: center;
}

/* Logo section */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.logo {
    width: 150px;
    height: auto;
}

/* Subheader */
.catchphrase {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2rem;
    color: #915eff;
    text-align: center;
    margin-bottom: 2rem;
}

/* Button container */
.button-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

/* Primary and Secondary buttons */
.primary-btn, .secondary-btn {
    font-family: 'Bandal', sans-serif;
    padding: 0.75rem 2rem;
    border: 2px solid #915eff;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    gap: 0.5rem;

    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease !important;
}

.primary-btn:hover, .secondary-btn:hover {
    box-shadow: 0 4px 6px rgba(145, 94, 255, 0.4);
}

/* Adjustments for dark mode */
.dark-mode .primary-btn, .dark-mode .secondary-btn {
    color: #915eff;
}
